* {
    box-sizing: border-box;
}

/* <uniquifier>: Use a uniquifier for the class name
 <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
*/

body{
    margin: 5px auto;
    width: 75%;
    height: 90%;
       
    box-shadow: 0 0 3px 3px lightgray;
    text-align: center;
   border-radius: 10px;
   
}

#root{
    padding: 5px;
    border: 0px solid red;
}

header{
    background-color: #F55A5A;
    color: white;
    border: 0px solid purple;
    display: flex;
    align-items: center;
    justify-content:center;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     
}

header img, header p{
    border: 0px solid green;
    padding: 3px;
    margin: 5px 0px;
    font-size: 0.9em;
}
.travel-place{
    border: 0px solid purple;
    display: flex;
    align-items: center;
    margin: 15px auto;
    padding: 15px;
    
}

.travel-img{
   width: 140px;
   height: 180px;
  margin-bottom: auto;
   border: 0px solid greenyellow;
   border-radius: 10px;
}

.travel-info{
    display: flex;
    border: 0px solid greenyellow;
    align-content: center;
    font-family: inherit;
    margin: 0px;
    padding: 0px;
}

.travel-pathimg,
.travel-googlemaps,
.travel-info p{
    padding: 0px;
    margin: 3px 2px;
}
.travel-pathimg{
    background-color: white;
    height: 50%;

    
}
.travel-googlemaps ,
.travel-info p{
    border: 0px solid red;
    font-size: 0.6em;

}
.travel-info p{
    text-transform:uppercase ;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #2B283A;
}

.travel-googlemaps{
    color: #918E9B;
    
}
.travel-text{
    border: 0px solid purple;
    padding: 10px;
    text-align: left;
    color: #2B283A;
    font-family: inherit;
}

.travel-text h3{
    text-align: left;
    margin: 2px;
 
}
.travel-dates{
   
    font-size: 0.7em;
    font-weight: bold;
}
.travel-desc{
    font-size: 0.6em;
}